@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fafafa;
  color: #100e0e;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #100e0e;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #100e0e;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 587px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 20px;

  border-radius: 0px 0px 20px 20px;
  gap: 2px;
  background: linear-gradient(180deg, #170f0f 0%, #d25527 100%);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fdfdfd;
  width: 220px;
  border-radius: 8px;
  padding: 10px 0;
  display: block;
  text-align: center;
  border: 1px solid transparent;
}
.navigation__item-desk {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.navigation__link:hover,
.navigation__link:focus {
  border: 1px solid #d25527;
  text-decoration: none;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 63px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 2px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    width: 170px;
    border-radius: 8px;
    padding: 10px;
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #ffffff;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 68px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 275px;
  height: 187px;
}

.home-text {
  font-family: Blinker;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #fafafa;
  padding: 285px 0 24px;
  text-shadow: 0px 2px 1px #2f1301;
}
.home__google-button_image {
  width: 280px;
  height: 72px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/1.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 141px 172px 0px 732px;
    background-image: url("/img/home/1_home.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    width: 426px;
    height: 263px;
  }

  .home-text {
    font-family: Blinker;
    font-weight: 700;
    font-size: 38px;
    text-align: left;

    padding: 40px 0;
  }
}
.uniqueness {
  width: 375px;
  height: 785px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_GameAtmosphere_mob.png");
}
.uniqueness-text-bold {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding: 40px 0 24px;
}
.uniqueness-list {
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 213px;

  display: flex;
  flex-direction: column;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fafafa;
}

@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 650px;
    padding: 80px 60px 0;
    background-image: url("/img/6_GameAtmosphere.png");
  }
  .uniqueness-text-bold {
    font-family: Blinker;
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    padding: 48px 0 40px;
    width: 872px;
    margin: auto;
  }
  .uniqueness-list {
    border-radius: 16px;
    padding: 57px 51px;
    gap: 512px;
    text-align: left;
    display: flex;
    flex-direction: row;
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;
  }
}
.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1573px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/2_about_mob.png");
}

.about-title {
  font-family: Blinker;
  font-weight: 700;
  font-size: 32px;
  color: #d25527;
  text-align: center;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 8px 8px 8px;
}
.about-img {
  width: 327px;
  height: 216px;
  border-radius: 8px;
}
.about-text {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-top: 16px;
  color: #fafafa;
}
.about-text-bold {
  font-family: Blinker;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #d25527;
  padding: 66px 0 24px;
}
.why-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.why-text-bold {
  font-family: Blinker;
  font-weight: 700;
  font-size: 18px;
}
.why-text {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 96px 0;
    width: 1440px;
    height: 988px;
    background-image: url("/img/about/2_about.png");
  }
  .about-title {
    font-family: Blinker;
    font-weight: 700;
    font-size: 48px;
  }
  .about-list {
    display: flex;
    flex-direction: row;
    gap: 56px;
    padding: 74px 16px 16px 16px;
    justify-content: center;
  }
  .about-img {
    width: 504px;
    height: 355px;
  }
  .about-text {
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;

    padding-top: 18px;
    width: 504px;
  }
  .about-text-bold {
    font-family: Blinker;
    font-weight: 700;
    font-size: 32px;

    padding: 80px 0 24px;
  }
  .why-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .why-item {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .why-text-bold {
    font-family: Blinker;
    font-weight: 700;
    font-size: 20px;
  }
  .why-text {
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }
}
.how {
  width: 375px;
  height: 1379px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3_howToPlay_mob.png");
}

.how-list {
  padding-top: 330px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.how-item {
  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  border-radius: 16px;
  border: 4px solid #d25527;
}

.how-text-bold {
  font-family: Blinker;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.how-text {
  font-family: Blinker;
  font-weight: 400;
  font-size: 24px;
  padding-top: 16px;
  text-align: center;
}
.how-title {
  color: #100e0e;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 787px;
    padding: 80px 0px 0;
    background-image: url("/img/3_howToPlay.png");
    position: relative;
  }
  .how-list {
    padding-top: 0;
  }
  .how-item {
    width: 400px;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    background: #fafafa;

    position: absolute;
    top: 180px;
    left: 520px;
  }
  .how-item-two {
    top: 370px;
    left: 120px;
  }
  .how-item-three {
    top: 370px;
    left: 920px;
  }
  .how-item-four {
    top: 583px;
    left: 200px;
  }
  .how-item-five {
    top: 583px;
    left: 840px;
  }
}

.characters {
  padding: 40px 32px 0;
  margin: auto;
  width: 375px;
  height: 1699px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/5_CharacterSpotlight_mob.png");
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 24px;
}
.character-img {
  width: auto;
  height: 248px;
  margin: auto;
}
.characters-text-bold {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #ffaf37;
}
.characters-text {
  font-family: Blinker;
  font-weight: 700;
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  padding: 20px 0;
}
.characters-text-two {
  font-family: Blinker;
  font-weight: 700;
  font-size: 18px;
  color: #fafafa;
}
.characters-text-list {
  display: flex;
  flex-direction: column;
  font-family: Blinker;
  font-weight: 400;
  color: #fafafa;
  font-size: 18px;
  list-style-type: disc;
  padding: 0px 0 0px 25px;
}
@media screen and (min-width: 1200px) {
  .characters {
    padding: 60px 172px 81px;
    width: 1440px;
    height: 921px;
    background-image: url("/img/characters/5_CharacterSpotlight.png");
  }
  .characters-list {
    flex-direction: row;
    padding-top: 48px;
    gap: 63px;
  }
  .characters-item {
    width: 323px;
    height: 645px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .character-img {
    height: 320px;
  }
  .characters-text-bold {
    font-family: Blinker;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
  }
  .characters-text {
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;
    text-align: left;

    padding: 20px 0;
  }
}
.reviews {
  width: 375px;
  height: 411px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/7_reviews_mob.png");
}

.reviews-list {
  padding: 40px 0 24px;
}
.reviews-item {
  margin: 0 5px;
  border: 4px solid #d25527;
  width: 212px;
  height: 219px;
  border-radius: 8px;
  padding: 16px 10px;
  border-width: 4px;
}

.reviews-text-bold {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
}
.reviews-text {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;

  padding-top: 16px;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 68px;
  height: 20px;
  border-radius: 4px;
  margin-left: -7px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/reviews/Rectangle\ 38\ \(1\).png") no-repeat
    center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/reviews/Rectangle\ 38.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 445px;
    padding: 60px 142px 0;
    background-image: url("/img/reviews/7_reviews.png");
  }
  .reviews-list {
    padding: 48px 0 0px;
  }
  .reviews-item {
    margin: 0 12px;
    border: 4px solid #d25527;
    width: 212px;

    border-radius: 8px;

    border-width: 4px;
  }

  .slick-dots {
    display: none;
  }

  .slick-dots li {
    display: none;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background-size: cover;
  background-position: top;
  background-image: url("/img/8_faq_mob_expanded.png");
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  background: #100e0e;
  border-radius: 12px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;

  color: #fafafa;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 2px solid #100e0e;
  background: #fafafa;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 172px 60px;
    width: 1440px;
    background-image: url("/img/8_faq.png");
  }
  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 17px 24px;
    font-family: Blinker;
    font-weight: 700;
    font-size: 32px;
  }

  .faq-answer {
    display: none;

    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 2px solid #100e0e;
    background: #fafafa;
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;
  }
}
.features {
  width: 375px;
  height: 1259px;
  margin: auto;
  background-image: url("/img/features/4_GameFeatures_mob.png");
  padding: 40px 16px 0px;
}

.features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 16px;
  padding: 8px;
  background: #100e0e;
}

.features-text-bold {
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
  color: #ffaf37;
  text-align: center;
}
.features-text {
  font-family: Blinker;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fafafa;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 942px;
    background-image: url("/img/features/4_GameFeatures.png");
    padding: 80px 170px 0px;
  }
  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .features-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0px;
  }
  .features-img {
    width: 80px;
    height: 80px;
  }

  .features-text-bold {
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;
    color: #ffaf37;
    text-align: left;
    padding-left: 16px;
  }
  .features-text {
    font-family: Blinker;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fafafa;
    padding-left: 8px;
  }
}
.footer {
  background-image: url("/img/9_footer_mob.png");
  margin: auto;
  width: 375px;
  height: 381px;
  color: #fafafa;
  padding: 40px 0px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 15px;
}
.footer-text {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;

  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #fafafa;
}

.footer-copyright {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  .footer {
    background-image: url("/img/9_footer.png");
    padding: 60px 0px;
    width: 1440px;
    height: 435px;
  }
  .footer-container {
    gap: 300px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 87px;
  }
  .footer-text {
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }
}
.policy-terms-container {
  padding: 80px 16px 40px;
}
.policy-terms-title {
  font-family: Blinker;
  font-weight: 700;
  font-size: 32px;
  color: #d25527;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Blinker;
  font-weight: 600;
  font-size: 24px;
  color: #d25527;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 106px 172px 40px;
  }
  .policy-terms-title {
    font-family: Blinker;
    font-weight: 700;
    font-size: 48px;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Blinker;
    font-weight: 700;
    font-size: 32px;
  }
  .policy-terms-texts {
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }
  .policy-terms-text-one {
    padding-top: 30px;
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }

  .terms-list {
    padding: 20px 0 20px 25px;
    font-family: Blinker;
    font-weight: 400;
    font-size: 18px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 16px;
  background: #fafafa;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  color: #100e0e;
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #d25527;
  width: 152px;

  padding: 10px 0;
  font-family: Blinker;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #100e0e;
}
#accept-cookies {
  background: #d25527;
  color: #fafafa;
  border-radius: 12px;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Blinker;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;

    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }
}
